.container {
  background: url('../../../assets/img/login-img/backgroud-two.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.box {
  height: 100vh;

}

.container-card {
  .logo {
    text-align: center;
    margin-bottom: 1rem;

    img {
      width: 50%;
    }
  }

  .text-welcome {
    h2 {
      margin-bottom: 0;
    }

    p {
      padding: 0;
    }
  }

  .container-form {
    .container-input {
      padding-top: .5rem;
      padding-bottom: .5rem;
    }

    .container-btn {
      .btn {
        width: 100%;
      }
    }
  }
}

.message {
  text-align: center;
  font-weight: 700;
  font-size: .8rem;
  color: var(--error);
}
